<a href="https://colab.research.google.com/github/RafyPrappo/CSE111-Lab-assignments/blob/main/Lab_4_CSE111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Task 1
class Customer:
  def __init__(self,name):
    self.name = name
  def purchase(self,*items):
    self.num = len(items)
    print(f'{self.name} you purchased {self.num} item(s):')
    for a in items:
      print(a)
  def greet(self,*args):
    k = ''
    for a in args:
      k = a
    if len(k)>0:
      print(f'Hello {k}!')
    else:
      print('Hello!')

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print('-----------------------------')
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David!
David you purchased 1 item(s):
orange juice

In [ ]:
#Task 2
class Panda:
  def __init__(self,name,gen,age):
    self.name = name
    self.gender = gen
    self.age = age
  def sleep(self,*tm):
    if len(tm)>0:
      if 3<=tm[0]<=5:
        return (f'{self.name} sleeps {tm[0]} hours daily and should have Mixed Veggies')
      elif 6<=tm[0]<=8:
        return (f'{self.name} sleeps {tm[0]} hours daily and should have Eggplant & Tofu')
      elif 9<=tm[0]<=11:
        return (f'{self.name} sleeps {tm[0]} hours daily and should have Broccoli Chicken')
    else:
      return (f"{self.name}'s duration is unknown thus should have only  bamboo leaves")


panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))

print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))

print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
Kunfu sleeps 4 hours daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only  bamboo leaves

In [ ]:
#Task 3
class Cat:
  def __init__(self,*arg):
    self.color = 'White'
    self.con = 'sitting'
    if 2>len(arg)>0:
      self.color = arg[0]
    elif len(arg)>1:
      self.color = arg[0]
      self.con = arg[1]

  def printCat(self):
    print(f'{self.color} cat is {self.con}')

  def changeColor(self,cng):
    self.color=cng



c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

In [ ]:
#Task 4 (sesher line keno?)
class Student:
  def __init__(self,*args):
    self.name = 'default student'
    if len(args)>0:
      self.name = args[0]
    print('Hello', self.name)
    self.final = None
  def quizcalc(self,*marks):
    tot = 0
    for a in marks:
      tot+=a
    final = tot/3
    self.final=(f'Your average quiz score is {final}')

  def printdetail(self):
    print(self.final)

s1 = Student()
s1.quizcalc(10)
print('--------------------------------')
s1.printdetail()
s2 = Student('Harry')
s2.quizcalc(10,8)
print('--------------------------------')
s2.printdetail()
s3 = Student('Hermione')
s3.quizcalc(10,9,10)
print('--------------------------------')
s3.printdetail()

Hello default student
--------------------------------
Your average quiz score is 3.3333333333333335
Hello Harry
--------------------------------
Your average quiz score is 6.0
Hello Hermione
--------------------------------
Your average quiz score is 9.666666666666666

In [ ]:
#Task 5
class Student:
  def __init__(self,name,id,dept='CSE'):
    self.name = name
    self.id = id
    self.dept = dept
    self.eff = 0

  def dailyEffort(self,num):
    self.eff = num

  def printDetails(self):
    print(f'Name: {self.name}')
    print(f'ID: {self.id}')
    print(f'Department: {self.dept}')
    print(f'Daily Effort: {self.eff} hour(s)')
    if self.eff<=2:
      print('Suggestion: Should give more effort!')
    elif self.eff<=4:
      print('Suggestion: Keep up the good work!')
    else:
      print('Suggestion: Excellent! Now motivate others.')




harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

In [ ]:
#Task 6
class Patient:
  def __init__(self,name,age):
    self.name = name
    self.age = age
    self.symp = ''
  def printPatientDetail(self):
    print(f'Name: {self.name}')
    print(f'Age: {self.age}')
    print(f'Symptoms: {self.symp}')

  def add_Symptom(self,*sym):
    for a in sym:
      if self.symp=='':
        self.symp+=a
      else:
        self.symp += ', '+ a



p1 = Patient("Thomas", 23)
p1.add_Symptom("Headache")
p2 = Patient("Carol", 20)
p2.add_Symptom("Vomiting", "Coughing")
p3 = Patient("Mike", 25)
p3.add_Symptom("Fever", "Headache", "Coughing")
print("=========================")
p1.printPatientDetail()
print("=========================")
p2.printPatientDetail()
print("=========================")
p3.printPatientDetail()

=========================
Name: Thomas
Age: 23
Symptoms: Headache
=========================
Name: Carol
Age: 20
Symptoms: Vomiting, Coughing
=========================
Name: Mike
Age: 25
Symptoms: Fever, Headache, Coughing

In [ ]:
#Task 7
class Match:
  def __init__(self,team):
    self.team = team
    print('5..4..3..2..1..Play!!!')
    self.runs = 0
    self.over = 0
    self.wic = 0
  def add_run(self,run):
    self.runs+=run

  def print_scoreboard(self):
    a,b = self.team.split('-')
    print(f'Batting Team: {a}')
    print(f'Bowling Team: {b}')
    return(f'Total Runs: {self.runs} Wickets: {self.wic} Overs: {self.over}')


  def add_wicket(self,wick):
    self.wic+=wick

  def add_over(self,over):
    if self.over+over>5:
      print(f'Warning! Cannot add {over} over/s (5 over match)')
    else:
      self.over+=over


match1 = Match("Rangpur Riders-Cumilla Victorians")
print("=========================")
match1.add_run(4)
match1.add_run(6)
match1.add_over(1)
print(match1.print_scoreboard())
print("=========================")
match1.add_over(5)
print("=========================")
match1.add_wicket(1)
print(match1.print_scoreboard())

5..4..3..2..1..Play!!!
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 0 Overs: 1
=========================
Warning! Cannot add 5 over/s (5 over match)
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 1 Overs: 1

In [ ]:
#Task 8
class ParcelKoro:
  def __init__(self,*args):
    self.name = 'No name set'
    self.product_weight = 0
    self.fee = 0
    if 0<len(args)<2:
      self.name = args[0]
    elif len(args)>1:
      self.name = args[0]
      self.product_weight = args[1]

  def calculateFee(self,*loc):
    if self.product_weight != 0:
      if len(loc)>0:
        fee = (self.product_weight*20) + 100
      else:
        fee = (self.product_weight*20) + 50
      self.fee+=fee

  def printDetails(self):
    print(f'Customer Name: {self.name}')
    print(f'Product Weight: {self.product_weight}')
    print(f'Total fee: {self.fee}')



print("**********************")
p1 = ParcelKoro()
p1.calculateFee()
p1.printDetails()
print("**********************")
p2 = ParcelKoro('Bob The Builder')
p2.calculateFee()
p2.printDetails()
print("'------------------------'----")
p2.product_weight = 15
p2.calculateFee()
p2.printDetails()
print("**********************")
p3 = ParcelKoro('Dora The Explorer', 10)
p3.calculateFee('Dhanmondi')
p3.printDetails()

**********************
Customer Name: No name set
Product Weight: 0
Total fee: 0
**********************
Customer Name: Bob The Builder
Product Weight: 0
Total fee: 0
----------------------------
Customer Name: Bob The Builder
Product Weight: 15
Total fee: 350
**********************
Customer Name: Dora The Explorer
Product Weight: 10
Total fee: 300

In [ ]:
#Task 9(need help)(should try with def)
class Batsman:
  def __init__(self,*args):
    if len(args)==2:
      self.score = args[0]
      self.Balls = args[1]
      self.name = 'New Batsman'

    else:
      self.name = args[0]
      self.score = args[1]
      self.Balls = args[2]
  def setName(self,new):
    self.name = new
  def printCareerStatistics(self):
    print(f'Name: {self.name}')
    print(f'Runs Scored: {self.score}, Balls Faced: {self.Balls}')
  def battingStrikeRate(self):
    return ((self.score/self.Balls)*100)
b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("'------------------------'----")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("'------------------------'----")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101, Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678, Balls Faced: 773
'------------------------'----
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101, Balls Faced: 7380
'------------------------'----
82.66937669376694

In [ ]:
#Task 10
class EPL_Team:
  def __init__(self,name,song='No Slogan'):
    self.name = name
    self.song = song
    self.title = 0
  def showClubInfo(self):
    print(f'Name: {self.name}')
    print(f'Song: {self.song}')
    return (f'Total No of title: {self.title}')
  def increaseTitle(self):
    self.title+=1
  def changeSong(self,new):
    self.song = new



manu = EPL_Team('Manchester United', 'Glory Glory Man United')
chelsea = EPL_Team('Chelsea')
print('===================')
print(manu.showClubInfo())
print('##################')
manu.increaseTitle()
print(manu.showClubInfo())
print('===================')
print(chelsea.showClubInfo())
chelsea.changeSong('Keep the blue flag flying high')
print(chelsea.showClubInfo())

===================
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 0
##################
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 1
===================
Name: Chelsea
Song: No Slogan
Total No of title: 0
Name: Chelsea
Song: Keep the blue flag flying high
Total No of title: 0

In [ ]:
#Task 11
class Author:
  def __init__(self,*args):
    self.name = 'Default'
    lst = []
    if len(args)>0:
      self.name = args[0]
      for a in range(1,len(args)):
        lst.append(args[a])
    self.books = lst

  def printDetails(self):
    print(f'Author Name: {self.name}')
    print('--------')
    print('List of Books:')
    for a in self.books:
      print(a)
  def addBooks(self,*new):
    for a in new:
      self.books.append(a)

  def changeName(self,new):
    self.name = new


auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print('===================')
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print('===================')
auth2.printDetails()
print('===================')
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
--------
List of Books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
List of Books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of Books:
The Alchemist
The Fifth Mountain

In [ ]:
#Task 12
class TaxiLagbe:
  def __init__(self,num,place):
    self.num = num
    self.place = place
    self.earn = 0
    self.count = 0
    self.pas = ''

  def addPassenger(self,*pas):
    lst = []
    if self.count<4:
      for a in pas:
        self.count+=1
        lst.append(a.split('_')[0])
        print(f"Dear {a.split('_')[0]}! Welcome to TaxiLagbe.")
        self.earn+=int(a.split('_')[1])
      for a in lst:
        if self.pas == '':
          self.pas+=a
        else:
          self.pas+=', ' + a
      # self.pas = self.pas[1:len(self.pas)]
    else:
      print('Taxi Full! No more passengers can be added.')


  def printDetails(self):
    print(f'Trip info for Taxi number: {self.num}')
    print(f'This taxi can cover only {self.place} area.')
    print(f'Total passengers: {self.count}')
    print(f'Passenger lists:')
    print(self.pas)
    print(f'Total collected fare: {self.earn} Taka')

taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald, Parker
Total collected fare: 330 Taka

In [ ]:
#Task 13
class Account:
  def __init__(self,*args):
    self.name = 'Default Account'
    self.balance = 0.0
    if 0<len(args)<2:
      self.name = args[0]
    elif len(args)>1:
      self.name= args[0]
      self.balance = args[1]

  def details(self):
    print(self.name)
    return (self.balance)

  def withdraw(self,amnt):
    if (self.balance - amnt)>3070:
      self.balance -= amnt
      print(f'Withdraw successful! New balance is: {self.balance}')
    else:
      print('Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.')



a1 = Account()
print(a1.details())
print('------------------------')
a1.name = 'Oliver'
a1.balance = 10000.0
print(a1.details())
print('------------------------')
a2 = Account('Liam')
print(a2.details())
print('------------------------')
a3 = Account('Noah',400)
print(a3.details())
print('------------------------')
a1.withdraw(6930)
print('------------------------')
a2.withdraw(600)
print('------------------------')
a1.withdraw(6929)

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

In [ ]:
#Task 14
class StudentDatabase:
  def __init__(self,name,id):
    self.name = name
    self.id = id
    self.grades = {}
    self.loop = {}
  def calculateGPA(self,lst,sess):
    shob ={}
    count = 0
    sum = 0
    d1 = {}
    newlst = []
    course = []
    for a in lst:
      k = a.split(': ')
      d1[k[0]]= float(k[1])
      newlst.append(k[0])
      course.append(k[0])

    for k,v in d1.items():
      sum += v
      count+=1

    self.grade = round(sum/count,2)
    shob[tuple(course)] = self.grade
    self.grades[sess] = shob

    newlst.append(f'GPA: {self.grade}')
    self.loop[sess]=newlst

  def printDetails(self):
    print(f'Name: {self.name}')
    print(f'Id: {self.id}')
    for k,v in self.loop.items():
      print(f'Courses taken in {k}:')
      count = 0
      for a in v:
        print(a)



s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'], 'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
Id: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
Id: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

In [ ]:
#Labiba
class Student:
  def __init__(self,name,id,dep):
    self.name=name
    self.id=id
    self.dep=dep
    self.l=[]
    self.count=0
    self.new=""
    self.credit=0
  def details(self):
    print("Nmae:",self.name)
    print("ID:",self.id)
    print("DEpartment: ", self.dep)

  def advise(self,*args):
    for i in args:
       self.l.append(i)
    for i in self.l:
      self.count+=1
    for i in self.l:
       self.new+=i +","
    self.credit=self.count*3
    print(self.name,"You have taken",self.credit,"credits.")
    print("List of courses:",end="")
    print(self.new[0:len(self.new)-1])

    if self.credit<=6.0:
      print("Status: You have to take at least 1 more course.")
    elif 6<self.credit<=12:
      print("Status: Ok")
    elif self.credit>=15:
      print("Status: You have to drop at least 1 course.")

s1 = Student("Alice","20103012","CSE")
s2 = Student("Bob", "18301254","EEE")
s3 = Student("Carol","17101238","CSE")
print("##########################")
s1.details()
print("##########################")
s2.details()
print("##########################")
s1.advise("CSE110","MAT110", "PHY111")
print("##########################")
s2.advise("BUS101", "MAT120")
print("##########################")
s3.advise("MAT110", "PHY111", "ENG102","CSE111","CSE230")

##########################
Nmae: Alice
ID: 20103012
DEpartment:  CSE
##########################
Nmae: Bob
ID: 18301254
DEpartment:  EEE
##########################
Alice You have taken 9 credits.
List of courses:CSE110,MAT110,PHY111
Status: Ok
##########################
Bob You have taken 6 credits.
List of courses:BUS101,MAT120
Status: You have to take at least 1 more course.
##########################
Carol You have taken 15 credits.
List of courses:MAT110,PHY111,ENG102,CSE111,CSE230
Status: You have to drop at least 1 course.

In [ ]:
class FinalT6A:
    def __init__(self, x, p):
        self.temp, self.sum, self.y = 4, 0, 1
        self.temp += 1
        self.y = self.temp - p
        self.sum = self.temp + x
        print(x, self.y, self.sum)
    def methodA(self):
        x = 0
        y = 0
        y = y + self.y
        x = self.y + 2 + self.temp
        self.sum = x + y + self.methodB(self.temp, y)
        print(x, y, self.sum)
    def methodB(self, temp, n):
        x = 0
        temp += 1
        self.y = self.y + temp
        x = x + 3 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
        return self.sum


q1 = FinalT6A(2,1)
q1.methodA()
q1.methodA()

2 4 7
7 10 24
11 4 39
13 16 68
17 10 95

In [ ]:
d1 = {'k':'val'}
print(d1['k'])222222222222223

val